{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "tailwindStylesheet": "./src/styles/globals.css",
  "tailwindAttributes": ["className"],
  "tailwindFunctions": ["cn", "tw", "clsx"],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
